<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DefaultStorageName" value="LanguageConstructions"/>
		<add key="AppiumLocalHostUri" value=""/>
		<add key="WinAppDriverLocation" value=""/>
		<add key="ApplicationExeLocation" value=""/>
		<add key="ApplicationWorkingDirLocation" value=""/>
	</appSettings>
</configuration>